/* Webfont: PowerGroteskTrial-UltraLight */@font-face {
    font-family: 'PowerGroteskTrialUltLt';
    src: url('PowerGroteskTrial-UltraLight.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGroteskTrial-UltraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

