---
layout: layout/main-layout.njk
title: Tashita Mukherji
description: I am Tashita, a creative explorer based in Bangalore, India. With a Master's in Graphic Design from Arts University Bournemouth, I have collaborated with many innovative brands in the last 8 years. My approach is driven by an insatiable curiosity and a love for experimental design concepts. Whether the task is to craft intuitive products or create visuals that move you, I transform imagination into impactful design—always with a sense of joy and adventure. My work is a celebration of the consistent pursuit of design that makes you feel.
mainTitle: A MULTI-DISCIPLINARY DESIGNER AND ILLUSTRATOR
subtitle: <b>Tashita</b> is a brand and product designer who believes great design begins with a story. 
scrollNote: Scroll for projects
---

<section class="min-h-screen container mx-auto flex flex-col items-center justify-start text-white selection:bg-white
        selection:text-[#1a1a1a]">
    <img src="/About Me.png" class="md:w-1/3 mt-24"/>
    <div class="md:w-2/3 px-2">
        <p class="md:text-xl font-light my-12">{{description}}</p>
        <div class="w-full flex flex-row justify-between">
            <a href="resume.pdf" class="underline" download>Download my Resume</a>
            <a href="mailto:tashita93@gmail.com" target="_blank" class="underline">Reach out to me</a>
        </div>
    </div>
</section>