---
layout: layout/main-layout.njk
title: Tashita Mukherji
description: Portfolio of Tashita Mukherji
mainTitle: A MULTI-DISCIPLINARY DESIGNER AND ILLUSTRATOR
subtitle: <b>Tashita</b> is a brand and product designer who believes great design begins with a story. 
scrollNote: Scroll for projects
---

<section class="h-screen container mx-auto flex flex-col text-brand-300 selection:bg-brand-300 selection:text-[#171717]">
  <section class="grow hidden lg:flex flex-row justify-center items-center pb-72 z-10">
    <div class="px-12">
      <p class="lg:text-[4.5vw] xl:text-[3.5vw] font-black leading-none">
        A MULTI-DISCIPLINARY DESIGNER
      </p>
      <div class="flex flex-row justify-start items-center">
        <p class="lg:text-[4.5vw] xl:text-[3.5vw] font-black leading-none">
          AND ILLUSTRATOR
        </p>
        <div class="w-2/5 px-4">
          <p class="lg:text-[1.4vw] xl:text-[1.35vw] font-normal xl:font-light text-pretty leading-tight">
            {{ subtitle | safe }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="grow flex lg:hidden flex-col lg:flex-row justify-start items-center pt-20 z-10">
    <div class="px-2 flex flex-col items-center justify-center">
      <p class="text-4xl md:text-6xl text-center font-black leading-none w-fit mb-5">
        A MULTI-DISCIPLINARY DESIGNER AND ILLUSTRATOR
      </p>
      <div class="px-4 sm:w-3/5">
        <p class="font-normal md:text-2xl text-pretty leading-tight text-center">
          {{ subtitle | safe }}
        </p>
      </div>
    </div>
  </section>
  <img src="./shopping-bag.png" class="hidden xs:block absolute right-0 bottom-32 h-[40vh] lg:h-[50vh] "/>
  <a class="absolute h-48 w-48 select-none right-2 bottom-2 xs:right-8 xs:bottom-8" href="#projects">
    <img src="./star.png" class="absolute h-48 w-48 animate-spin-slow"/>
    <div class="text-white text-center absolute w-32 top-14 left-8 text-xl leading-none">
      <p>{{ scrollNote }}</p>
      <img src="./arrow.svg" class="mx-auto mt-6 h-6"/>
    </div>
  </div>
</section>
<section class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-2 p-2 auto-rows-max" id="projects">
  {% projectCard "./projects/smartstaff-app", "Smartstaff App Design | UI/UX", "Homepage/Smartstaff App thumbnail.png", "Landing Page Mobile/Smartstaff app Thumbnail.png", 0 %}
  {% projectCard "./projects/smartstaff-branding", "Smartstaff Branding", "Homepage/Smartstaff branding thumbnail.png", "Landing Page Mobile/Smarstaff uiux Thumbnail.png", 1 %}
  {% projectCard "./projects/mecha-systems", "Mecha Systems", "Mecha Systems/Mecha.gif", "Landing Page Mobile/Mecha Thumbnail.gif", 2 %}
  {% projectCard "./projects/international-tennis-hall-of-fame", "International Tennis Hall Of Fame", "Homepage/ITHF thumbnail.png", "Landing Page Mobile/Ithf Thumbnail.png", 3 %}
  {% projectCard "./projects/caicos-luxe", "Caicos Luxe", "Homepage/Caicos Luxe thumbnail.png", "Landing Page Mobile/Caicos luxe Thumbnail.png", 4 %}
  {% projectCard "./projects/metaverse-infosys", "Metaverse x Infosys", "Homepage/Metaverse thumbnail.png", "Landing Page Mobile/Metaverse Thumbnail.png", 5 %}
  {% projectCard "./projects/google-mumbai", "Google Space Design", "Homepage/Google Mumbai thumbnail.png", "Landing Page Mobile/Google mumbai Thumbnail.png", 6 %}
  {% projectCard "./projects/brand-archetype-experience", "Brand Archetype Experience", "Brand Archetype Experience/Mahabharata.gif", "Landing Page Mobile/Brand Archetype Thumbnail.gif", 7 %}
  {% projectCard "./projects/logofolio", "Logofolio", "Homepage/Logofolio thumbnail.png", "Landing Page Mobile/Logofolio Thumbnail.png", 8 %}
  {% projectCard "./projects/other-work", "Other Commerical / Personal Work", "Homepage/Other commercial work thumbnail.png", "Landing Page Mobile/Other commercial work Thumbnail.png", 9 %}
</section>