---
layout: layout/project-layout.njk
title: Brand Archetype Experience | Tashita Mukherji
description: Brand Archetype Experience | Tashita Mukherji
projectTitle: BRAND ARCHETYPE EXPERIENCE
projectDescription:
  - Brand Archetypes Experience, or BAE, began as a publication project and later expanded into a workshop. It was created to help brands understand and leverage their archetypes for better communication and decision-making.
  - The book *The Maha Brand Katha* was designed with a distinctly Indian touch, inspired by the Mahabharata, known for its rich array of characters and stories. Twelve characters from the epic were mapped to the twelve archetypes and then to brand personalities. The book's visual identity, inspired by the Disney game *Crossy Road*, uses bold colors, typography, and illustrations to capture the epic’s vibrancy.
  - The BAE workshop enabled brands like Intuit and xto10x to explore their archetypes deeply through exercises and games, uncovering nuances to inspire creative strategies.
collaborators: Talented folks at Rezonant Design (Raghvi Kabra | Pranav Mathur)
previousPage: /
nextPage: /
baseAssetsPath: /Brand Archetype Experience
media:
  - src: Mahabharat gif.png
    alt: Mahabharat gif
    classes: col-span-12
  - src: Bookcover.png
    alt: Bookcover
    classes: col-span-12
  - src: Openbook.png
    alt: Openbook
    classes: col-span-12
  - src: Typography.png
    alt: Typography
    classes: col-span-12
  - src: Book mockup 1.png
    alt: Book mockup 1
    classes: col-span-6
  - src: Book mockup 2.png
    alt: Book mockup 2
    classes: col-span-6
  - src: Book mockup 3.png
    alt: Book mockup 3
    classes: col-span-6
  - src: Book mockup 4.png
    alt: Book mockup 4
    classes: col-span-6
  - src: Tote mockup.png
    alt: Tote mockup
    classes: col-span-12
  - src: tshirt 1.png
    alt: tshirt 1
    classes: col-span-12
  - src: tshirt 2.png
    alt: tshirt 2
    classes: col-span-6
  - src: tshirt 3.png
    alt: tshirt 3
    classes: col-span-6
  - src: mug.png
    alt: Mug
    classes: col-span-4
  - src: stationery.png
    alt: Stationery
    classes: col-span-4
  - src: stickers.png
    alt: Stickers
    classes: col-span-4
  - src: playing cards 1.png
    alt: Playing cards 1
    classes: col-span-12
  - src: playing cards 2.png
    alt: Playing cards 2
    classes: col-span-12
  - src: calendar 1.png
    alt: Calendar 1
    classes: col-span-6
  - src: calendar 2.png
    alt: Calendar 2
    classes: col-span-6
  - src: pattern.png
    alt: Pattern
    classes: col-span-12
---

