---
layout: layout/project-layout.njk
title: Caicos Luxe | Tashita Mukherji
description: Caicos Luxe | Tashita Mukherji
projectTitle: CAICOS LUXE
projectDescription:
  - "Caicos Luxe, a brand originating from the stunning Turks & Caicos, approached me with a unique branding challenge transforming their ready-to-drink Negronis into a compelling visual experience. The objective was to capture the essence of enjoying a cocktail on a sunny beach and translate that feeling into a brand identity that would resonate with a sophisticated, style-conscious audience. My design approach drew deep inspiration from the late 1960s Italian beach scene, a period characterized by effortless glamour and vibrant aesthetics."
  - The project demanded creating a brand identity, packaging, and animation style that communicated retro charm, boldness, and a sense of carefree enjoyment. The resulting design was a carefully crafted visual narrative that evoked sun-soaked shores, vintage umbrellas, and the quintessential cool of a perfect summer moment. Every design element—from colour palette to typography—was meticulously chosen to transport consumers into a nostalgic yet contemporary world.
collaborators:
previousPage: /projects/international-tennis-hall-of-fame
nextPage: /projects/metaverse-infosys
baseAssetsPath: /Caicos Luxe
media:
  - src: Banner.png
    alt: Banner
    classes: col-span-12
  - src: Banner 2.png
    alt: Banner 2
    classes: col-span-12
  - src: Wristband.png
    alt: Wristband
    classes: col-span-12
  - src: Tag 1.png
    alt: Tag 1
    classes: col-span-4
  - src: Tag 2.png
    alt: Tag 2
    classes: col-span-4
  - src: Tag 3.png
    alt: Tag 3
    classes: col-span-4
  - src: Tag 4.png
    alt: Tag 4
    classes: col-span-4
  - src: Tag 5.png
    alt: Tag 5
    classes: col-span-4
  - src: Tag 6.png
    alt: Tag 6
    classes: col-span-4
  - src: Tag 7.png
    alt: Tag 7
    classes: col-span-4
  - src: Tag 8.png
    alt: Tag 8
    classes: col-span-4
  - src: Tag 9.png
    alt: Tag 9
    classes: col-span-4
  - src: Green palette.png
    alt: Green palette
    classes: col-span-12
  - src: Orange Palette.png
    alt: Orange palette
    classes: col-span-12
  - src: Screens.gif
    alt: Screens
    classes: col-span-12
  - src: Mockup.png
    alt: Mockup
    classes: col-span-12
  - src: Negroni drink.png
    alt: Negroni drink
    classes: col-span-6
  - src: Its a gif.gif
    alt: Badge gif
    classes: col-span-6
  - src: Artwork1.png
    alt: Artwork 1
    classes: col-span-6
  - src: Artwork 2.png
    alt: Artwork 2
    classes: col-span-6
  - src: Bag mockup.png
    alt: Bag mockup
    classes: col-span-12
  - src: Sweatshirt mockup.png
    alt: Sweatshirt mockup
    classes: col-span-6
  - src: Tshirt mockup.png
    alt: Tshirt mockup
    classes: col-span-6
---

