---
layout: layout/project-layout.njk
title: Google Mumbai | Tashita Mukherji
description: Google Mumbai | Tashita Mukherji
projectTitle: GOOGLE MUMBAI SPACE DESIGN
projectDescription:
  - While working at Rezonant, I was invited to contribute to a significant cultural initiative for Google's new Mumbai office. The project's core challenge was designing culturally nuanced murals that would create a unified, inspiring visual environment. The design process involved extensive research to uncover unique cultural expressions from around the world. Ultimately, six countries were represented through murals that combined bold colours and dynamic compositions to create surreal, inspiring images celebrating global diversity. The result was a series of surreal, inspiring murals that merged vibrant colours and composition to create a harmonious celebration of global diversity.
collaborators: Talented folks at Rezonant Design (Tanvi Chunekar | Hisam Puthalath | Jayesh Paroli)
previousPage: /
nextPage: /
baseAssetsPath: /Google Mumbai
media:
  - src: Collage 1.png
    alt: Collage artwork
    classes: col-span-12
  - src: Collage 2.png
    alt: Collage artwork 2
    classes: col-span-12
  - src: Collage 3.png
    alt: Collage artwork 3
    classes: col-span-12
  - src: Redeemer 1.png
    alt: Redeemer Artwork 1
    classes: col-span-12
  - src: Redeemer 2.png
    alt: Redeemer Artwork 2
    classes: col-span-12
  - src: Redeemer 3.png
    alt: Redeemer Artwork 3
    classes: col-span-12
  - src: Puerto rico 1.png
    alt: Puerto Rico Artwork 1
    classes: col-span-12
  - src: Puerto rico 2.png
    alt: Puerto Rico Artwork 2
    classes: col-span-12
  - src: Italy 1.png
    alt: Italy Artwork 1
    classes: col-span-12
  - src: Italy 2.png
    alt: Italy Artwork 2
    classes: col-span-12
---

