---
layout: layout/project-layout.njk
title: ITHF | Tashita Mukherji
description: ITHF | Tashita Mukherji
projectTitle: INTERNATIONAL TENNIS HALL OF FAME
projectDescription: 
  - For a collaborative project with Infosys and the International Tennis Hall of Fame, I crafted along with Sarthak Khurana a series of innovative animations that delved deep into the world of tennis innovation and its potential future. The project, undertaken in partnership with Infosys, was designed to create immersive digital experiences during the Infosys Hall of Fame Open in Newport, R.I. 
  - The illustrations I developed were carefully constructed to bridge technological advancement with the sport's rich historical heritage. Each animation served as a visual narrative that explored how tennis might evolve, creating a dynamic experience that honoured the sport's past while pointing towards its technological future. The project also unveiled an exciting roadmap of potential innovations within the metaverse, showcasing how digital technologies could transform sports engagement.
collaborators: Sarthak Khurana (Motion Design)
previousPage: /
nextPage: /
baseAssetsPath: /ITHF
media:
  - src: ITHF logomark.png
    alt: ITHF
    classes: col-span-12
  - src: I.png
    alt: Letter I
    classes: col-span-6
  - src: T.png
    alt: Letter T
    classes: col-span-6
  - src: H.png
    alt: Letter H
    classes: col-span-6
  - src: F.png
    alt: Letter F
    classes: col-span-6
  - src: Tech Artwork.png
    alt: Metaverse
    classes: col-span-12
  - src: Female Player.png
    alt: Blue Action Shot
    classes: col-span-6
  - src: Male Player.png
    alt: Green Action Shot
    classes: col-span-6
  - src: Footer Image.png
    alt: ITHF Banner
    classes: col-span-12
---

