---
layout: layout/project-layout.njk
title: ITHF | Tashita Mukherji
description: ITHF | Tashita Mukherji
projectTitle: INTERNATIONAL TENNIS HALL OF FAME
projectDescription: 
  - For a collaborative project with Infosys and the International Tennis Hall of Fame, I created animations that explore innovation and the future of tennis. Infosys, a global leader in digital services, partnered with the ITHF to unveil new immersive, digital experiences at the Infosys Hall of Fame Open in Newport, R.I. The project also introduced an exciting roadmap of innovations in the metaverse.
  - My illustrations for this project blended the latest technological advancements with the rich heritage of the sport, creating a dynamic visual experience that resonated with both the past and the future of tennis.
collaborators: Sarthak Khurana (Motion Design)
previousPage: /
nextPage: /
baseAssetsPath: /ithf
media:
  - src: ithf.png
    alt: ITHF
    classes: col-span-12
  - src: letter-i.png
    alt: Letter I
    classes: col-span-6
  - src: letter-t.png
    alt: Letter T
    classes: col-span-6
  - src: trophy.png
    alt: Trophy
    classes: col-span-6
  - src: letter-f.png
    alt: Letter F
    classes: col-span-6
  - src: metaverse.png
    alt: Metaverse
    classes: col-span-12
  - src: blue-action-shot.png
    alt: Blue Action Shot
    classes: col-span-6
  - src: green-action-shot.png
    alt: Green Action Shot
    classes: col-span-6
  - src: banner.png
    alt: ITHF Banner
    classes: col-span-12
---

