---
layout: layout/project-layout.njk
title: Logofolio | Tashita Mukherji
description: Logofolio | Tashita Mukherji
projectTitle: LOGOFOLIO
projectDescription:
  - My Logofolio represents a comprehensive exploration of visual identity design across multiple sectors. This collection showcases a diverse range of identity mark styles created for established and emerging brands spanning entertainment, restaurants, beauty, non-governmental organizations, and various other industries. The compilation is a testament to my versatility in crafting meaningful visual representations. Each logo demonstrates a deep commitment to handcrafted typography, intentional monogram design, and custom visual marks that communicate the essence of each brand's unique identity.
collaborators:
previousPage: /projects/brand-archetype-experience
nextPage: /projects/other-work
baseAssetsPath: /logofolio
media:
  - src: Maratha Spread.png
    alt: Maratha Spread Logo
    classes: col-span-12
  - src: Smartstaff.png
    alt: Smartstaff Logo
    classes: col-span-12
  - src: Krishi Kalpa.png
    alt: Krishi Kalpa Logo
    classes: col-span-12
  - src: Caicos Luxe.png
    alt: Caicos Luxe Logo
    classes: col-span-12
  - src: Playground.png
    alt: Playground Logo
    classes: col-span-12
  - src: Blush.png
    alt: Blush Logo
    classes: col-span-12
  - src: Thrive in Bengaluru.png
    alt: Thrive in Bengaluru Logo
    classes: col-span-12
---

