---
layout: layout/project-layout.njk
title: Mecha Systems | Tashita Mukherji
description: Mecha Systems | Tashita Mukherji
projectTitle: MECHA SYSTEMS
projectDescription:
  - Mecha is a platform built for creators—developers, students, and business owners alike—who dream of building connected smart devices. Whether it's a personal passion project or a market-ready product solution, Mecha helps turn their ideas into reality.
  - I collaborated with the brilliant team at Mecha to bring their vision to life, expanding their branding with a fresh suite of designs. From logo animations to illustrations for their new product, "Comet," as well as Mecha avatars and icons, the work draws inspiration from retro Japanese video games. Think pixel lasers, fantastical characters, and bold primary colours—designs that feel both nostalgic and strikingly modern.
collaborators: 
previousPage: /projects/smartstaff-branding
nextPage: /projects/international-tennis-hall-of-fame
baseAssetsPath: /Mecha Systems
media:
  - src: Mecha.gif
    alt: Logo Animation
    classes: col-span-12
  - src: Hero illustrations.png
    alt: Hero Illustration
    classes: col-span-12
  - src: Colour Palette 1.png
    alt: Colour Palette 1
    classes: col-span-6
  - src: Colour Palette 2.png
    alt: Colour Palette 2
    classes: col-span-6
  - src: Avatars 1.png
    alt: Mecha Avatar 1
    classes: col-span-6
  - src: Avatars 2.png
    alt: Mecha Avatar 2
    classes: col-span-6
  - src: Avatars 3.png
    alt: Mecha Avatar 3
    classes: col-span-6
  - src: Avatars 4.png
    alt: Mecha Avatar 4
    classes: col-span-6
  - src: Icon 1.png
    alt: Mecha icon 1
    classes: col-span-4
  - src: Icon 2.png
    alt: Mecha icon 2
    classes: col-span-4
  - src: Icon 3.png
    alt: Mecha icon 3
    classes: col-span-4
  - src: Icon 4.png
    alt: Mecha icon 4
    classes: col-span-4
  - src: Icon 5.png
    alt: Mecha icon 5
    classes: col-span-4
  - src: Icon 6.png
    alt: Mecha icon 6
    classes: col-span-4
  - src: Packaging.png
    alt: Mecha Comet Packaging
    classes: col-span-12
---

