---
layout: layout/project-layout.njk
title: Metaverse x Infosys | Tashita Mukherji
description: Metaverse x Infosys | Tashita Mukherji
projectTitle: METAVERSE X INFOSYS
projectDescription:
  - Infosys's strategic vision involved making digital transformation accessible and smooth for companies worldwide, leading to the creation of the Infosys Metaverse Foundry. This innovative platform was designed to enable clients to build metaverse environments securely and efficiently on demand. The Metaverse Foundry represented a comprehensive approach to digital innovation, bringing together Infosys's extensive expertise across multiple technological domains. These included augmented reality, virtual reality, 3D modelling, blockchain technology, Internet of Things (IoT), and 5G technologies. The goal was to expedite and simplify business ventures involving metaverse technologies.
collaborators: Sarthak Khurana (Motion Design) | Himanshu (3D Animation)
previousPage: /projects/caicos-luxe
nextPage: /projects/google-mumbai
baseAssetsPath: /metaverse x infosys
media:
  - src: Metaverse apple.png
    alt: Metaverse apple
    classes: col-span-12
  - src: Metaverse Dance.png
    alt: Metaverse Dance
    classes: col-span-12
  - src: Metaverse Fruit.png
    alt: Metaverse Fruit
    classes: col-span-12
  - src: Title card.png
    alt: Title card
    classes: col-span-12
  - src: Video 1.mp4
    alt: Video 1
    classes: col-span-12
  - src: Video 2.mp4
    alt: Video 2
    classes: col-span-12
  - src: Video 3.mp4
    alt: Video 3
    classes: col-span-12
---

