---
layout: layout/project-layout.njk
title: Other Commercial/Personal Work | Tashita Mukherji
description: Other Commercial/Personal Work | Tashita Mukherji
projectTitle: OTHER COMMERCIAL/PERSONAL WORK
projectDescription:
  - My graphic design and illustration portfolio defies simple categorisation. Each piece breaks away from expected design patterns, mixing unexpected visual elements that challenge typical commercial approaches. My work moves between commissioned projects and personal explorations, revealing a design language that's both precise and unpredictable.
  - These designs aren't just visual statements—they're conversations. A restaurant logo might echo architectural lines, while an illustration for a tech brand could incorporate organic, almost biological forms. Colors clash and harmonise in ways that make viewers look twice. My work doesn't just communicate information; it creates small moments of visual disruption that force people to reconsider what design can do.
collaborators:
previousPage: /
nextPage: /
baseAssetsPath: /Other Commercial Work
media:
  - src: bud and burger.png
    alt: Budweiser Artwork
    classes: col-span-12
  - src: moh1.png
    alt: Moh Flow portrait
    classes: col-span-4
  - src: moh2.png
    alt: Album Art Main
    classes: col-span-4
  - src: moh3.png
    alt: Album Title Card
    classes: col-span-4
  - src: moh4.png
    alt: Spotify Look
    classes: col-span-12
  - src: jhallih1.png
    alt: Artist Jhallih Artwork 1
    classes: col-span-6
  - src: jhallih2.png
    alt: Artist Jhallih Artwork 2
    classes: col-span-6
  - src: jhallih3.png
    alt: Artist Jhallih Artwork 3
    classes: col-span-6
  - src: jhallih4.png
    alt: Artist Jhallih Artwork 4
    classes: col-span-6
  - src: reem1.png
    alt: Reem Ekay Album Art 1
    classes: col-span-6
  - src: reem2.png
    alt: Reem Ekay Album Art 2
    classes: col-span-6
  - src: ok computer.png
    alt: Ok Computer Hotstar Poster
    classes: col-span-6
  - src: jazz night.png
    alt: Amanyara Jazz Night Menu Art
    classes: col-span-6
  - src: ladygif.png
    alt: Culture London Artwork (Lady)
    classes: col-span-6
  - src: mangif.png
    alt: Culture London Artwork (Man)
    classes: col-span-6
  - src: panic.png
    alt: Covid Artwork (Panic)
    classes: col-span-6
  - src: influenza.png
    alt: Covid Artwork (Influenza)
    classes: col-span-6
  - src: group.png
    alt: Surreal Artwork (Group)
    classes: col-span-6
  - src: mirror.png
    alt: Surreal Artwork (Mirror)
    classes: col-span-6
  - src: crow.png
    alt: Surreal Artwork (Crow)
    classes: col-span-6
  - src: fish.png
    alt: Surreal Artwork (Fish)
    classes: col-span-6
---

