---
layout: layout/project-layout.njk
title: Smartstaff App | Tashita Mukherji
description: Smartstaff App | Tashita Mukherji
projectTitle: SMARTSTAFF APP
projectDescription:
  - The Smartstaff work app is India's first platform dedicated to addressing the needs of blue-collar workers. From managing shifts and understanding payouts to accessing advance salaries, insurance, and community-building games, it empowers workers to navigate their work lives with confidence and dignity. In an industry once marked by exploitation, Smartstaff has brought regulation, transparency, and fairness to the forefront.
  - I had the privilege of being the sole designer for this experience. With embedded audio files, multi-language support, simplified payout details, and more, I built, rebuilt, and refined a platform that has now transformed the lives of over 40,000 workers. This wasn't just about design—it was about creating real change where it mattered most.
previousPage: /
nextPage: /projects/smartstaff-branding
baseAssetsPath: /Smartstaff App Design
media:
  - src: main banner.png
    alt: Main Banner
    classes: col-span-12
  - src: design process.png
    alt: Design Process
    classes: col-span-12
  - src: mockup 1.png
    alt: Screen Mockup
    classes: col-span-12
  - src: audience insight.png
    alt: Audience Insight
    classes: col-span-12
  - src: user stories.png
    alt: User Stories
    classes: col-span-12
  - src: mockup 2.png
    alt: Screen Mockup
    classes: col-span-12
  - src: user flow.png
    alt: User Flow Journey
    classes: col-span-12
  - src: wireframes.png
    alt: Wireframes
    classes: col-span-12
  - src: design systems.png
    alt: Colour Palette
    classes: col-span-12
  - src: typography icons.png
    alt: Typography & Iconography
    classes: col-span-12
  - src: ui designs results.png
    alt: UI Designs
    classes: col-span-12
  - src: banner 2.png
    alt: Banner
    classes: col-span-12
  - src: manage and track.png
    alt: Screen Mockup
    classes: col-span-12
  - src: salary on time.png
    alt: Screen Mockup
    classes: col-span-12
  - src: footer screens.png
    alt: Smartstaff Screens
    classes: col-span-12
---

