---
layout: layout/project-layout.njk
title: Smartstaff Branding | Tashita Mukherji
description: Smartstaff Branding | Tashita Mukherji
projectTitle: SMARTSTAFF BRANDING
projectDescription:
  - The manufacturing industry in India has long been plagued by unregulated practices, disorganized workforce management, and systems that haven't seen innovation in decades. That's where Smartstaff stepped in—with a mission to streamline operations for manufacturing giants.
  - I was entrusted with creating Smartstaff's visual brand identity. My design reflects the platform's commitment to helping companies efficiently source, manage, and retain their workforce, addressing industry challenges with clarity and impact. Through thoughtfully crafted visual language, I positioned Smartstaff as an innovative and reliable partner that not only empowers businesses but also honours the vital contributions of their workforce.
previousPage: /
nextPage: /
baseAssetsPath: /Smartstaff
media:
  - src: Logomark.png
    alt: Logomark
    classes: col-span-12
  - src: Logo breakdown.png
    alt: Logo Breakdown
    classes: col-span-12
  - src: Logo Black.png
    alt: Logo in Black
    classes: col-span-6
  - src: Logo Blue.png
    alt: Logo in Blue
    classes: col-span-6
  - src: Logo for Social Media.png
    alt: Logo for Social Media
    classes: col-span-12
  - src: Mockup.png
    alt: Mockup
    classes: col-span-12
  - src: Typpgraphy.png
    alt: Typography
    classes: col-span-12
  - src: Colour Palette 1.png
    alt: Colour Palette 1
    classes: col-span-12
  - src: Colour Palette 2.png
    alt: Colour Palette 2
    classes: col-span-12
  - src: Iconography.png
    alt: Iconography
    classes: col-span-12
  - src: Website laptop mockup.png
    alt: Website laptop mockup
    classes: col-span-12
  - src: Worker 1.png
    alt: Heena
    classes: col-span-6
  - src: Worker 2.png
    alt: Monica
    classes: col-span-6
  - src: Worker 3.png
    alt: Sonu
    classes: col-span-6
  - src: Worker 4.png
    alt: Ashwini
    classes: col-span-6
  - src: Banner.png
    alt: Banner
    classes: col-span-12
  - src: Banner 2.png
    alt: Banner 2
    classes: col-span-12
  - src: Artwork 1.png
    alt: Artwork 1
    classes: col-span-6
  - src: Artwork 2.png
    alt: Artwork 2
    classes: col-span-6
  - src: Pattern.png
    alt: Pattern
    classes: col-span-12
  - src: Envelope mockup.png
    alt: Envelope mockup
    classes: col-span-12
  - src: Artwork footer.png
    alt: Artwork footer
    classes: col-span-12
---

