---
links:
  - text: PROJECTS
    url: /
  - text: ABOUT ME
    url: /about-me
icons:
  - text: LinkedIn
    url: https://www.linkedin.com/in/tashita-mukherji-1194318b
    icon: /linkedin-logo.svg
    external: true
  - text: Instagram
    url: https://www.instagram.com/tashitamukherji
    icon: /instagram-logo.svg
    external: true
---

<!doctype html>
<html lang="en" class=" scroll-smooth">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" value="{{ description }}">
    <link rel="stylesheet" href="/global.css"/>
    <script>
      document
        .documentElement
        .classList
        .add('js');
    </script>
  </head>
  <body class="bg-[#171717] text-brand-300 selection:bg-brand-300 selection:text-[#171717] overflow-x-hidden safari_only">
    <section class="flex flex-row justify-between pt-12 container w-screen mx-auto">
      <div class="px-2 flex flex-row justify-center items-center">
        <a href="/">
          <img src="/logo.png" alt="Tashita Mukherji" class="h-12"/>
        </a>
        <a href="/" class="flex flex-col items-start justify-center">
          <p class="text-lg font-black leading-none">Tashita</p>
          <p class="text-lg font-black leading-none">Mukherji</p>
        </a>
      </div>
      <ul class="hidden md:flex flex-row items-center ">
        {% for link in links %}
          <li class="px-8">
            <a href="{{ link.url }}" class="duration-300 hover:text-brand-400">
              {% if link.icon %}
                <img src="{{ link.icon }}" alt="{{ link.text }}"/>
              {% else %}
                {{ link.text }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
        {% for icon in icons %}
          <li class="px-1">
            <a href="{{ icon.url }}" class="duration-300 hover:saturate-200" {% if icon.external %} target="_blank" rel="noopener noreferrer" {% endif %}>
              <img src="{{ icon.icon }}" alt="{{ icon.text }}"/>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
    {{ content | safe }}
    <footer class="flex flex-col-reverse md:flex-row items-center text-brand-300 selection:bg-brand-300 text-sm pt-12
        md:justify-between container mx-auto">
      <p class="text-center py-2">COPYRIGHT 2025</p>
      <p class="text-center py-2">SITE DESIGN BY TASHITA MUKHERJI & DEVELOPED BY
        <a href="https://www.linkedin.com/in/arvind0598/" class="underline hover:text-white duration-100">ARVIND SURESH</a>
      </p>
    </footer>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <script src="/main.js" type="module"></script>
  </body>
</html>