---
layout: layout/main-layout.njk
---

<section id="content" class="container mx-auto flex flex-col text-white selection:bg-white">
  <section class="flex flex-col md:flex-row justify-center md:justify-between items-center py-24">
    <div class="px-2">
      <p class="text-4xl md:text-6xl font-black text-center md:text-left 2xl:text-7xl">
        {{ projectTitle }}
      </p>
      <div class="flex flex-col justify-start px-6 md:px-0 text-md md:text-xl text-center font-light md:text-left md:w-3/5
          text-pretty">
        <div class="flex flex-col justify-start mt-4">
          {% for item in projectDescription %}
            <div class=" mt-2">
              <p>
                {{ item }}
              </p>
            </div>
          {% endfor %}
        </div>
        {% if collaborators %}
          <div class="flex flex-col md:flex-row justify-start mt-4">
            <div class="mt-2">
              <p class="italic">
                Collaborators: {{ collaborators }}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
    <section class="grid grid-cols-12 gap-2 p-2">
      {% for item in media %}
        {% if item.type == 'youtube' %}
          <div class="{{ item.classes }} relative pb-[56.25%] w-full h-0 ">
            <iframe width="849" height="478" src="{{ item.src }}" title="{{ item.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="absolute top-0 left-0 w-full h-full"></iframe>
          </div>
        {% else %}
          <div class="{{ item.classes }} duration-[300ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="{{ (loop.index * 10) }}">
            <img src="{{ baseAssetsPath }}/{{ item.src }}" alt="{{ item.alt }}" class="w-full"/>
          </div>
        {% endif %}
      {% endfor %}
    </section>
    <section class="flex flex-row justify-center p-2 mt-8">
      <div class="px-2">
        <a href="{{ previousPage }}">
          <img src="/arrow-left.svg" alt="Previous" class="inline mx-4"/>PREVIOUS
        </a>
      </div>
      <div class="px-4"></div>
      <div class="px-2">
        <a href="{{ nextPage }}">
          NEXT<img src="/arrow-right.svg" alt="Next" class="inline mx-4"/>
        </a>
      </div>
    </section>
  </section>