/* Webfont: PowerGroteskTrial-UltLtIta */@font-face {
    font-family: 'PowerGroteskTrialUltLtIta';
    src: url('PowerGroteskTrial-UltLtIta.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGroteskTrial-UltLtIta.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

